<h6>Dashboard</h6>
<h3>Welcome {{name}}</h3>
<p>here are your stories</p>

{{#if stories}}
  <table class="striped">
    <thead>
      <tr>
        <th>Title</th>
        <th>Date</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      {{#each stories}}
        <tr>
          <td <a href="/stories/{{_id}}"></a>{{title}}</td>
          <td>{{createdAt}}</td>
          <td><span class="dash-status"></span>{{Status}}</td>
        </tr>

      {{/each}}
    </tbody>
  </table>
{{else}}

<p>you have not created any stories</p>
{{/if}}